:root {
  --primary-color: #fdb50d;
  --secondary-color: #212529;
  --light-bg: #f8f9fa;
  --text-dark: #212529;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-bg);
  color: var(--text-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-outline-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: #000;
}

.btn-primary:hover {
  background-color: #3a362b;
  border-color: #ffffff;
  color: #000;
}
